aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
discord==1.0.1
discord-py-slash-command==1.1.2
discord.py==1.7.2
idna==2.10
Markdown==3.3.4
multidict==5.1.0
requests==2.26.0
six==1.15.0
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
